/* * {
    border: 1px dotted red;
} */
table, td {
    border: 1px solid black;
    /* border-collapse: collapse; */
    font-size: larger;
}
table {
    margin-left: auto;
    margin-right: auto;
    display: none;
}
h1, p {
    text-align: center;
}
div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button {
    background-color: aquamarine;
    border-radius: 5px;
    border: 1px solid lightslategray;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}